<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Burgers</title>

    <link rel="stylesheet" type="text/css" href="css/burger.css">
</head>
<body>

    {{{body}}}

</body>
</html>